ion-content {
  --background: var(--ion-color-secondary);  
}
span{color: red}

ion-header {
  --background: var(--ion-color-secondary);  
  --color:var(--ion-color-secondary-contrast);
}

ion-toolbar {
  --border-width: 0;
}a

ion-list {
  padding: 10px;
}

ion-item {
  --background: var(--ion-color-secondary);;
  --border-color: #333;
  border-radius: 10px;
  margin: 8px 0;

  ion-input, ion-select {
    --placeholder-color:var(--ion-color-secondary-contrast);
    --color:var(--ion-color-secondary-contrast);
  }

  ion-label {
    --color:var(--ion-color-secondary-contrast);
  }
}

ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-secondary);
  margin: 16px 0;
  border-radius: 10px;
}
