#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

#hero-section img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

#hero-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#hero-section p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

#hero-section ion-button {
  margin-top: 20px;
}
ion-button {
  --background: #f39c12;  // Orange background color for the button
  --color: #000;  // Black text color for the button
  margin: 16px 0;  // Space above and below the button
  border-radius: 10px;  // Rounded borders for the button
}

