<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Filmes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Filmes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let filme of catalogoFilme; let i= index">
    <ion-item (click)="editar(i)" class="film-item">
      <ion-icon name="film" slot="start"></ion-icon>
      <ion-label>
        <h2>{{filme.titulo}}</h2>
        <p>Ano: {{filme.anoLancamento}}</p>
        <p>Avaliação: {{filme.avaliacao}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="irCadastroFilme()">CADASTRAR FILMES</ion-button>
</ion-content>
